---
title: "EduWelle Blog"
layout: base.njk
---

{% block content %}
  <h2>Latest Blog Posts</h2>

  <ul class="blog-posts">
    {%- for post in collections.posts | reverse -%}
      <li class="blog-card">
        <a href="{{ post.url }}">
          <h3>{{ post.data.title }}</h3>
          <p><small>{{ post.date | readableDate }}</small></p>
          <p>{{ post.templateContent | striptags | truncate(140) }}</p>
        </a>
      </li>
    {%- endfor -%}
  </ul>
{% endblock %}
